<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	  
	
	<bean name="customerService" class="service.impl.CustomerServiceImpl" >  
		<property name="customerDaoImpl" ref="customerDao"></property>
	</bean> 
	<bean name="customerDao" class="dao.impl.CustomerDaoImpl" >  
	</bean>
	
	<bean name="customerModel" class="model.CustomerModel">
	</bean>
	
	 <bean name="bookService" class="service.impl.BookServiceImp" >  
		<property name="bookDao" >
		<bean  class="dao.impl.BookDaoImp" >  
		</bean> 
		</property>
	</bean> 
	<bean name="bookModel" class="model.BookModel">
	</bean> 
	<bean name="loginService" class="service.impl.UserLoginServiceImpl">
	<property name="userLoginDao" >
		<bean  class="dao.impl.UserLoginDaoImpl" >  
		</bean> 
		</property>
	</bean> 
	
	
	<!-- <bean name="MainFrame" class="page.DashboardPage" >  
		<constructor-arg value="LibraryManagnmentTool"></constructor-arg>
	</bean>  -->
	 <bean name="viewBalanceService" class="service.impl.ViewBalanceServiceImp" >  
		<property name="viewBalanceDAO" >
		<bean  class="dao.impl.ViewBalanceDAOImp" >  
		</bean> 
		</property>
	</bean>  
	
	
<context:annotation-config />
</beans>